.head__ligue1 {
    height: 11em;
    width: 100%;
    text-align: center;
    background-color: $bleu-logo;
    margin-bottom: 2em;
    color: white;
    &--logo{
        padding-top: 1em;
        height: 8em;
    }
    &--text{
        font-weight: bold;
        align-items: center;
    }
}
.eats {
    color: $vert-logo;
}