html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.logo--club {
  width: 1.5em;
  height: 1.5em;
}

.head__ligue1 {
  height: 10em;
  width: 100%;
  text-align: center;
  background-color: yellow;
}
.head__ligue1--logo {
  height: 8em;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  scale: 1.2;
}

.nav__equipes {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 3em 3em 3em 3em 3em;
  gap: 4px 4px;
}

.club1 {
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 1.5em;
  box-shadow: 0 0 10px grey;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.club2 {
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 1.5em;
  box-shadow: 0 0 10px grey;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.club3 {
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 1.5em;
  box-shadow: 0 0 10px grey;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.club4 {
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 1.5em;
  box-shadow: 0 0 10px grey;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

.club5 {
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 1.5em;
  box-shadow: 0 0 10px grey;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.club6 {
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 1.5em;
  box-shadow: 0 0 10px grey;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.club7 {
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 1.5em;
  box-shadow: 0 0 10px grey;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.club8 {
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 1.5em;
  box-shadow: 0 0 10px grey;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}

.club9 {
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 1.5em;
  box-shadow: 0 0 10px grey;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
}

.club10 {
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 1.5em;
  box-shadow: 0 0 10px grey;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}

.club11 {
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 1.5em;
  box-shadow: 0 0 10px grey;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}

.club12 {
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 1.5em;
  box-shadow: 0 0 10px grey;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
}

.club13 {
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 1.5em;
  box-shadow: 0 0 10px grey;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 4;
  grid-row-end: 4;
}

.club14 {
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 1.5em;
  box-shadow: 0 0 10px grey;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 4;
}

.club15 {
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 1.5em;
  box-shadow: 0 0 10px grey;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 4;
}

.club16 {
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 1.5em;
  box-shadow: 0 0 10px grey;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
}

.club17 {
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 1.5em;
  box-shadow: 0 0 10px grey;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 5;
  grid-row-end: 5;
}

.club18 {
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 1.5em;
  box-shadow: 0 0 10px grey;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 5;
}

.club19 {
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 1.5em;
  box-shadow: 0 0 10px grey;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 5;
}

.club20 {
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 1.5em;
  box-shadow: 0 0 10px grey;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 5;
}

.body {
  background-color: yellow;
}

/*# sourceMappingURL=style.css.map */
